/RetoPB-C2/target/
/Prueba/nbproject/private/
/Prueba/build/
/Prueba/dist/
/Reto-PB-C2/nbproject/private/
/Reto-PB-C2/build/
/Reto-PB-C2/dist/
/PruebaTablas/nbproject/private/
/PruebaTablas/build/
